:host {
    position: absolute;
    top: 35%;
    bottom: 65%;
    right: 18px;
}

h3 {
    font-size: 12pt;
    font-weight: bold;
    color: rgb(92, 92, 92);
}

.author-circle {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
    font-size: 10pt;
    cursor: default;
    color: #ffffff;
    box-shadow: 4px 4px 4px 0 rgba(226,226,226,0.50);
}