:host {
    position: absolute;
    top: 35%;
    bottom: 65%;
    right: 18px;
    width: 280px;
    max-height: 720px;
    font-size: 10pt;
}

h3 {
    font-size: 12pt;
    font-weight: bold;
    color: rgb(92, 92, 92);
}

.author-label-container {
    box-shadow: 4px 4px 4px 0 #00000020;
    background-color: white;
    position: relative;
    pointer-events: all;
    font-size: 10pt;
}

.item-overflow-wrap { word-wrap: break-word; word-break: break-all }