<div class="side-panel container d-flex flex-column">
    <div class="d-flex justify-content-between" style="text-align: center; vertical-align: auto;">
        <h3><span style="font-weight: bolder">Code</span><span style="font-weight: 400">City</span></h3>
        <button class="btn btn-light btn-xs"><fa-icon [icon]="faSlidersH" size="xs"></fa-icon></button>
    </div>
    <div class="mt-1">
        <input class="bg-light cc-input form-control form-control-sm" placeholder="Search">
    </div>
    <!-- <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
          </ul>
    </div> -->
</div>