:host {
    pointer-events: none;
}

.information-panel {
    position: absolute;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0 #00000020;
    background-color: white;
    font-size: 10pt;
    pointer-events: none;
    z-index: 800;
}

.information-panel table {
    word-break: break-all;
}

h3 {
    font-size: 11pt;
    color: #414141;
    word-break: break-all;
}

.borderless td, .borderless th{
    border: none;
}

hr {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    width: 32px;
    border: 0;
    border-radius: 2px;
    border-top: 3px solid #89A0CE;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}