<div class="container d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
        <div class="timeline-header d-flex justify-content-between">
            <div class="d-flex flex-row">
                <h3>Timeline</h3>
                <span class="ml-2 time-label"> | 1.1.2020</span>
            </div>
        </div>
        <button class="btn btn-light btn-xs">
            <fa-icon [icon]="faChevronUp"></fa-icon>
        </button>
    </div>
    <cc-gitgraph></cc-gitgraph>
</div>