<div class="d-flex flex-row">
    <div class="left-pane d-flex flex-column justify-content-between">
        <button class="btn btn-primary btn-sm" (click)="onCommitsClick()">
            <fa-icon [icon]="faPlay"></fa-icon>
        </button>
        <div class="ci-status-label d-flex align-items-center justify-content-center">
            CI Status
        </div>
    </div>
    <div #messageContainer class="commit-message-container overflow-auto" style="white-space: nowrap">
        <div class="commit-message" *ngFor="let commit of commits$ | async">
            <span class="branch-indicator"></span>
            <span class="commit-message-text">{{commit.message}}</span>
        </div>
    </div>
</div>
