$author-circle-width: 32px;

.author-circle {
    width: $author-circle-width;
    height: $author-circle-width;
    border-radius: 30%;
    margin-bottom: 4px;
    font-size: 10pt;
    cursor: default;
    color: #ffffff;
    box-shadow: 4px 4px 4px 0 rgba(226,226,226,0.50);
    border-bottom-width: calc(0.2 * $author-circle-width);
    border-bottom-style: solid;
}