$GIT_GRAPH_HEIGHT: 120px;
$GIT_GRAPH_EXPANDED_HEIGHT: 220px;
$GIT_GRAPH_PADDING_LEFT: 20px;

#gitgraph {
  position: relative;
  border-top: 1px solid rgb(243, 243, 243);
  height: $GIT_GRAPH_HEIGHT;
}

.expanded {
  min-height: $GIT_GRAPH_EXPANDED_HEIGHT;
}

#tooltip {
  position: absolute;
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 9pt;
  text-align: left;
  border-radius: 4px;
  z-index: 400;
}

.tooltip-btn {
  font-size: 9pt;
  text-align: left;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: "";
  transform: rotate(45deg);
  background: #333;
}

#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -4px;
}

::ng-deep .gitgraph-commit {
  cursor: pointer;
}
