<div class="side-panel container d-flex flex-column">
    <div class="d-flex justify-content-between" style="text-align: center; vertical-align: auto;">
        <h3>
            <span style="font-weight: lighter"></span><span style="font-weight: 400">CodeCity</span>
        </h3>
        <button 
            class="btn btn-xs"
            (click)="openModal()"
            ngbTooltip="Settings"
        >
            <fa-icon [icon]="faSlidersH" size="xs"></fa-icon>
        </button>
    </div>
    <div class="mt-1">
        <div class="input-group">
            <input
                [ngbTypeahead]="search"
                (selectItem)="onSearchItemSelected($event)"
                class="bg-light cc-input form-control form-control-sm" 
                placeholder="Search files"
                #searchInput
            >
            <div class="input-group-append" *ngIf="hasItemSelected">
                <button 
                    class="
                        btn 
                        btn-primary 
                        form-control 
                        form-control-sm btn-sm" 
                    type="button"
                    (click)="onDeleteSelectedItem()"
                >
                    <fa-icon [icon]="faTimesCircle" size="md"></fa-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="mt-2 d-flex flex-row justify-content-between">
        <button class="btn btn-xs filter-btn" (click)="openProject()">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <fa-icon [icon]="faFolder" size="xs"></fa-icon>
                <span class="ml-1">Open Project</span>
            </div>
        </button>
        <button class="btn btn-xs filter-btn" (click)="onOpenFilter()">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <fa-icon [icon]="faFilter" size="xs"></fa-icon>
                <span class="ml-1">Filter</span>
            </div>
        </button>
    </div>
</div>

<div class="side-panel-detail">
    <cc-filter-panel></cc-filter-panel>
</div>


<cc-information-panel></cc-information-panel>