.information-panel {
    padding: 16px;
    width: 280px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0 #00000020;
    background-color: white;
    font-size: 10pt;
    pointer-events: all;
}

.information-panel .btn {
    font-size: 9pt;
}

hr {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    width: 32px;
    border: 0;
    border-radius: 2px;
    border-top: 3px solid #89A0CE;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.header {
    font-size: 12pt;
    font-weight: bold;
    color: #5A7CD5;
}

.selected-commit-container {
    background: #F8F9FC;
    border-radius: 4px;
    padding: 8px;
}

.commit-id-label {
    font-size: x-small;
}

.commit-date {
    color: #6A6A6A;
}

.files-list-container {
    max-height: 220px;
}