.branch-indicator {
    height: 18px;
    width: 18px;
    margin-right: -14px;
    // background: blue;
}

.indicator {
    height: 4px;
    width: 4px;
    border-radius: 2px;
    background: #0AB6B9;
    display: inline-block;
}