<div class="modal-header">
  <h4 class="modal-title">Author Information</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="list-group-item py-1 list-group-item-action"
  [(colorPicker)]="color"
    (click)="onAuthorFilterItemClick(author)">
    <div class="
        d-flex
        flex-row
      ">
        <cc-author-label [name]="author.name" [color]="activeColor"></cc-author-label>
      <div class="
        ml-2
        d-flex 
        justify-content-center         
        flex-column
      ">
        <div class="small text-left font-weight-bold">{{author.name}}</div>
        <div class="small text-left text-muted font-weight-light ">{{author.email}}</div>
      </div>
    </div>
  </div>
  <hr>
  <h3>Select author color encoding</h3>
  <div class="d-flex flex-row">
    <button 
      class="btn color-item mr-2" 
      *ngFor="let color of colors" 
      [style.background]="color"
      (click)="onColorClicked(color)"
      [ngClass]="{focus: color == activeColor}"
      >
    </button>
  </div>
  <hr>
  <h3>Visibility</h3>
  <div>
    <input type="checkbox" [checked]="enabled" (click)="onCheckboxChanged()">
  </div>
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close
  </button>
</div>