$MESSAGE_CONTAINER_HEIGHT: 80px;
$MESSAGE_CONTAINER_MARGIN_LEFT: 40px;
$LEFT_PANE_WIDTH: 68px;
$FADE_EFFECT_WIDTH: 12px;
$COMMIT_MESSAGE_WIDTH: 30px;

.commit-message-container {
    margin-bottom: 8px;
    padding-top: $MESSAGE_CONTAINER_HEIGHT;
}

.commit-graph-container {
    width: 100%;
    padding-right: $COMMIT_MESSAGE_WIDTH + $MESSAGE_CONTAINER_MARGIN_LEFT;
    height: 100%;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        height: 100%;
        right: $COMMIT_MESSAGE_WIDTH + $MESSAGE_CONTAINER_MARGIN_LEFT;;
        top: 0;
        width: $FADE_EFFECT_WIDTH;
        z-index: 10;
        background-image: linear-gradient(to left, white, rgba(255,255,255,0));
    }
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: $FADE_EFFECT_WIDTH;
        left: 0;
        top: 0;
        z-index: 10;
        background-image: linear-gradient(to right, white, rgba(255,255,255,0));
    }
}

.left-pane {
    min-width: $LEFT_PANE_WIDTH;
    width: $LEFT_PANE_WIDTH;
    margin-bottom: 4px;
}

.btn-indicator {
    width: 48px;
    margin-top: 68px;
}

.status-label {
    height: 20px;
    width: 28px;
    background: #BCBCBC;
    border-radius: 4px;
    color: white;
    font-size: 11px;
} 

.commit-message-container::-webkit-scrollbar {
    display: none;
}

.commit-message {
    margin-left: 8px;
    transform: rotate(300deg);
    transform-origin: bottom left;
    width: $COMMIT_MESSAGE_WIDTH;
    white-space: nowrap;
    font-size: 12px;
    color: #6D6D6D; 
    display: inline-block;
}

.commit-messages {
    margin-left: 12px;
    padding-left: 16px;
}
