<div class="d-flex flex-row">
    <div class="left-pane d-flex flex-column">
        <cc-play-button (isPlaying)="onCommitsClick($event)" style="z-index: 12;"></cc-play-button>
        <button class="btn-indicator btn-xs btn btn-light" (click)="changeIndicatorStatus()">
            <fa-icon [icon]="faUser" size="xs"></fa-icon>
        </button>
    </div>
    <div class="commit-graph-container d-flex flex-column">
        <div #messageContainer class="commit-message-container overflow-auto" style="white-space: nowrap">
            <span class="commit-messages">
                <div class="commit-message" *ngFor="let commit of commits$ | async">
                    {{commit.message}}
                </div>
            </span>
            <cc-indicator-bar></cc-indicator-bar>
        </div>
        <cc-gitgraph></cc-gitgraph>
    </div>
</div>
