<div class="canvas-wrapper">
    <canvas id="canvas" class="p-0 m-0"></canvas>
    <cc-side-panel></cc-side-panel>
    <cc-author-panel></cc-author-panel>
    <cc-selected-item-modal [x]="selectedItemX" [y]="selectedItemY" [title]="selectedItemTitle"></cc-selected-item-modal>
    <!--git graph-->
    <div class="timeline-container
                d-flex 
                justify-content-end 
                flex-column">
        <cc-selection-popover class="mb-4"></cc-selection-popover>
        <cc-timeline></cc-timeline> 
    </div>
</div>
